.book-container {
    border: 1px solid #FF4C29;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    line-height: 5px;
}

.book-container img {
    height: 300px;
}

.regular-btn {
    background-color: #FF4C29;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
}

.book-container:hover {
    box-shadow: 4px 4px 7px #FF4C29;
  border-radius: 10px;
  
}

